<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/grupo09</property>
		<property name="hibernate.connection.username">grupo09</property>
		<property name="hibernate.connection.password">grupo09</property>
		
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">
			true
		</property>

		<mapping resource="hibernate/cursada.hbm.xml"/>
		<mapping resource="hibernate/curso.hbm.xml"/>
		<mapping resource="hibernate/diccionario.hbm.xml"/>
		<mapping resource="hibernate/documento.hbm.xml"/>
		<mapping resource="hibernate/idioma.hbm.xml"/>
		<mapping resource="hibernate/leccion.hbm.xml"/>
		<mapping resource="hibernate/parrafo.hbm.xml"/>
		<mapping resource="hibernate/prueba.hbm.xml"/>
		<mapping resource="hibernate/sitio.hbm.xml"/>
		<mapping resource="hibernate/tarea.hbm.xml"/>
		<mapping resource="hibernate/usuario.hbm.xml"/>
		<!-- Colocar las referencias a los archivos de mapping en este punto -->

	</session-factory>
</hibernate-configuration>